{
    "project": {
        "name": "d4rl",
        "mount": [],
        "exclude": [".git", ".env", ".venv", "Pipfile", "wandb", "*.mp4", "*.egg-info", "__pycache__"]
    },
    "machines": {
        "birch": {
            "root_dir": "/ripl/user/takuma/rmx",
            "docker": {
                "image": "takumaynd/d4rl",
                "group_id": 4000,
            },
            "mount_from_host": {
                "/ripl/user/projects/d4rl": "/data"
            },
        },
        "tticslurm": {
            "mode": "slurm-sing",
            "environment": {
                "YOUR_ENV_VAR": "custom envvar specific to a machine"
            },
            "singularity": {
                "sif_file": "/share/data/ripl/takuma/singularity-workspace/diffuser-robosuite/diffuser-robosuite.sif",
                "overlay": "/share/data/ripl/takuma/singularity-workspace/diffuser-robosuite/overlay.img"
            },
            "__mount_from_host": {
                "/share/data/ripl/takuma/projects/diffuser-robosuite/trajectories": "/rmx/robosuite/mount/trajectories"
            }
        }
    }
}
