{
    "project": {
        "name": "d4rl",
        "environment": {
            "WANDB_API_KEY": "50739321f358d48524ab94ecf624a7bd1477426a",
            "CUDA_VISIBLE_DEVICES": "1"
        },
        "mount": [],
        // "__mount_from_host": {
        //     "/ripl/user/projects/diffuser-robosuite/trajectories": "/rmx/robosuite/mount/trajectories"
        // },
        // "___mount_from_host": {
        //     "/ripl/user/takuma/robosuite/robosuite/models/assets":"/rmx/robosuite/code/robosuite/models/_assets"
        // },
        // "__exclude": [".git", ".env", ".venv", "Pipfile", "wandb", "*.mp4", "*.png", "*.egg-info", "__pycache__"],
        "exclude": [".git", ".env", ".venv", "Pipfile", "wandb", "*.mp4", "*.egg-info", "__pycache__"]
    },
    "machines": {
        "birch": {
            "root_dir": "/ripl/user/takuma/rmx",
            "docker": {
                "image": "takumaynd/d4rl"
            },
            "mount_from_host": {
                "/ripl/user/projects/d4rl-test": "/data"
            },
            // "__mount_from_host": {
            //     "/ripl/user/projects/diffuser-robosuite/": "/rmx/robosuite/mount/trajectories"
            // }
        },
        "elm": {
            "root_dir": "/tmp/rmx"
        },
        "tticslurm": {
            "mode": "slurm-sing",
            "environment": {
                "YOUR_ENV_VAR": "custom envvar specific to a machine"
            },
            "singularity": {
                "sif_file": "/share/data/ripl/takuma/singularity-workspace/diffuser-robosuite/diffuser-robosuite.sif",
                "overlay": "/share/data/ripl/takuma/singularity-workspace/diffuser-robosuite/overlay.img"
            },
            "__mount_from_host": {
                "/share/data/ripl/takuma/projects/diffuser-robosuite/trajectories": "/rmx/robosuite/mount/trajectories"
            }
        }
    }
}
